@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Sen', sans-serif;
}

/* .bg-image {
  background-image: url('../assets/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100%;
} */


.full-image {
  z-index: 0;
}